<h1><%= @project.name %></h1>

<p>Description: <%= @project.description %></p>
<p>Github: <%= @project.code %></p>
<a href= <%= @project.code %> alt="link github" target="_blank" >Github</a>
<p>figma: <%= @project.figma %></p>


<% if !@project.image.key.nil? %>
  <p>Image of the project:</p>
  <%= cl_image_tag(@project.image.key, width: 400, height: 300, crop: :fill) %>
<% else %>
  <p>No image available</p>
<% end %>
<% if !@project.db.key.nil? %>
  <p></p>
  <p>Image of the data base:</p>
  <%= cl_image_tag(@project.db.key, width: 400, height: 300, crop: :fill) %>
<% else %>
  <p>No db available</p>
<% end %>

<h2>All your technologies</h2>

<% if @tech_projects.empty? %>
  <p>You don't have any technology yet</p>
<% else %>
  <ul>
    <% @tech_projects.each do |tech_project| %>
      <%= tech_project.technology.name %>
      <%= link_to "Delete",
          project_tech_project_path(@project, tech_project),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %> 
    <% end %>
  </ul>
<% end %>

<%= link_to "Add a technology", new_project_tech_project_path(@project) %>

<p></p>
<%= link_to "Back to index", projects_path %>

<%= link_to "Edit", edit_project_path %>

<%= link_to "Delete",
  project_path(@project),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%> 