<h1><%= @technology.name %></h1>

<% if !@technology.icon.key.nil? %>
  <%= cl_image_tag @technology.icon.key %>
<% else %>
  <p>No icon available</p>
<% end %>
<p></p>
<%= link_to "Back to index", technologies_path %>

<%= link_to "Edit", edit_technology_path %>

<%= link_to "Delete",
  technology_path(@technology),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>  